@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

a {
  color: white;
  font-size: 24px;
}

.header {
  background-color: #131c45;
  max-height: 100px;
  min-height: 90px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header nav {
  color: white;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 10%;
}

.logo-branca {
  max-width: 265px;
  width: 100%;
  max-height: 200px;
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner {
  min-height: 500px;
  max-height: 650px;
  width: 100%;
  display: flex;
  text-align: center;
  margin-top: 100px;
  padding: 175px;
  background: url('/assets/img/Banner\ inicial\ -\ Desktop.png') no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: flex-end; /* em relação ao eixo X */
  align-items: center; /* em relação ao eixo Y */
}

.text1 {
  max-width: 520px;
  color: white;
}

.text1 h2 {
  font-weight: bold;
  font-size: 72px;
  line-height: 54.74px;
  margin-bottom: 40px;
}

.text1 p {
  font-weight: medium;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 29px;
  text-align: justify;
}

.btnclass {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 90px;
  background: #6fc1e7;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #f4f2f2;
  transition: background 0.2s;
}

.btnclass:hover {
  background: #00a3d8;
}

.section1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentsection1 {
  padding: 60px 142px 60px 141px;
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.contentsection1 img {
  width: 566px;
  height: 310px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section1text {
  max-width: 566px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section1text h1 {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 45px;
  text-align: center;
  color: #131c45;
}

.section1text p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #9d9d9d;
}

.section2 {
  margin-right: 80px;
  margin-left: 80px;
}

.section2 h1 {
  color: #131c45;
  margin-bottom: 60px;
  font-size: 48px;
  text-align: center;
}

.contentsection2 {
  display: flex;
  gap: 36px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 265px;
  min-height: 200px;
  flex: none;
}

.card p {
  color: #9d9d9d;
  text-align: justify;
}

.card h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #131c45;
  text-align: center;
}

.card img {
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btnclass2 {
  background: #3870a1;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.section3 {
  height: auto;
  margin-bottom: 80px;
}

.btnclass2:hover {
  background: #15467e;
}

footer {
  height: 100px;
  background: #131c45;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .banner {
    padding: 30px;
    max-height: 850px;
  }

  .section2 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .contentsection1 {
    flex-direction: column;
    padding: 30px;
  }

  .contentsection1 img {
    width: 100%;
    height: auto;
  }

  .text1 {
    padding: 30px;
    width: 100%;
  }

  .text1 h2 {
    font-size: 48px;
  }
}

/* página de resultado */

.navbar{
  width: 100%;
  display: flex;
  justify-content: right;
 
}